//
//  Responsive variables
//  _____________________________________________

$screen__xxs : 320px !default;
$screen__xs  : 480px !default;
$screen__s   : 640px !default;
$screen__m   : 768px !default;
$screen__l   : 1024px !default;
$screen__xl  : 1440px !default;
